.app-header {
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-family: 'Outfit', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-header h1 {
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.app-header h1 a {
  text-decoration: none;
  color: inherit;
}

.app-header h1 a:hover {
  color: var(--color-primary-hover);
}

.app-header nav {
  display: block;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.app-header nav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.app-header nav a:hover {
  color: var(--color-primary-hover);
}

.mobile-menu-button {
  display: none;
}

.app-nav .nav-header {
  display: none; 
}

.nav-overlay {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
    background: none;
    border: none;
    margin-top: 4px;
    cursor: pointer;
    color: inherit;
    z-index: 2000;
  }

  .app-header.menu-is-open .mobile-menu-button {
    display: none;
  }

  .app-header nav ul {
    display: flex;
  }

  .app-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px; 
    height: 100vh;
    background-color: var(--color-bg-default);
    padding: 20px 20px 24px 24px;
    transition: right 0.3s ease;
    z-index: 1500;
    overflow-y: auto;
  }

  .app-nav.is-open {
    right: 0;
  }

  .app-nav .nav-header {
    display: flex;
    justify-content: flex-end; 
    align-items: start;
    height: 48px; 
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .nav-close-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--overlay-bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1200;
  }

  .nav-overlay.is-open {
    opacity: 1;
    visibility: visible;
  }

  .app-nav ul {
    flex-direction: column; 
    width: 100%;
  }
}
