body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--color-bg-default);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  color: var(--color-gray-500);
}

::selection {
  background: var(--color-primary);
  color: var(--color-gray-500);
}

.hidden {
  display: none !important;
}
