:root {
  --color-bg-default: #FAFAFA;
  --color-primary: #0CEFD3;
  --color-primary-hover: #20B2AA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #ccc;
  --color-gray-300: #999;
  --color-gray-400: #666;
  --color-gray-500: #333;
  --overlay-bg: rgba(0, 0, 0, 0.2);
}
